body {
    background: ghostwhite;
}

#menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10%;
    background: lightgray;
}

#animationLayer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#logo {
    position: absolute;
    width: 20rem;
    height: 20rem;

    left: 50%;
    top: 50%;
    margin-left: -10rem;
    margin-top: -10rem;
    will-change: transform;
}